* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::active {
  outline: none;
}

a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

:root {
  --text-c: #202020;
  --main-font-family: Inter;
  --bg: #fff;
}

@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kharkiv';
  font-display: swap;
  src: url("../fonts/Kharkiv Tone.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.fullscreen-navmenu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 4 !important;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
}

.fullscreen-navmenu.active {
  right: 0;
}

.fullscreen-navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow: auto;
  background: rgba(0,0,0,0.678);
  min-height: 100%;
}

.fullscreen-navmenu__body ul {
  margin: 0 auto;
  width: 100%;
}

.fullscreen-navmenu__body ul .fs-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fullscreen-navmenu__body ul .fs-element:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.fullscreen-navmenu__body ul .fs-element a,
.fullscreen-navmenu__body ul .fs-element button {
  display: inline-block;
  padding: 25px 0 25px 0;
  color: #fff;
}

.fullscreen-navmenu__body ul .fs-element a:hover,
.fullscreen-navmenu__body ul .fs-element button:hover,
.fullscreen-navmenu__body ul .fs-element a:focus,
.fullscreen-navmenu__body ul .fs-element button:focus {
  text-decoration: underline;
}

.burger-btn {
  z-index: 5;
  display: block;
  cursor: pointer;
}

.burger-btn__svg * {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.burger-btn__rect-top {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.burger-btn__rect-bottom {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.burger-btn.active .burger-btn__rect-top {
  -webkit-transform: rotate(45deg) translate(-5%, 50%);
      -ms-transform: rotate(45deg) translate(-5%, 50%);
          transform: rotate(45deg) translate(-5%, 50%);
}

.burger-btn.active .burger-btn__rect-center {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.burger-btn.active .burger-btn__rect-bottom {
  -webkit-transform: rotate(-45deg) translate(-5%, -50%);
      -ms-transform: rotate(-45deg) translate(-5%, -50%);
          transform: rotate(-45deg) translate(-5%, -50%);
}

.container {
  margin: auto;
}

.adaptive-image {
  display: block;
  position: relative;
  padding: 0 0 100% 0;
}

.adaptive-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.adaptive-video {
  display: block;
  position: relative;
  padding: 0 0 100% 0;
}

.adaptive-video video {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal-window {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.275);
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal-window.active {
  overflow: auto;
  opacity: 1;
  pointer-events: all;
}

.modal-window__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-window__image {
  padding-bottom: 50%;
  width: 70vw;
}

.modal-window__image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: relative;
  z-index: 5;
}

.header__body {
  display: grid;
  grid-template: 'logo nav burger' 1fr/1fr 1.5fr 0.5fr;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  gap: 15px;
  padding: 10px 0 10px 0;
}

.header__body * {
  z-index: 5;
}

.header__body #burgerButton {
  grid-area: burger;
  justify-self: end;
}

.navmenu {
  grid-area: nav;
}

.navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0 5px 0 5px;
  margin: 0 0 0 -14px;
}

.navmenu__list li {
  margin-right: 10px;
}

.navmenu__list li a,
.navmenu__list li button {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: underline;
  padding: 4px 8px 4px 8px;
  color: var(--main-font-color);
  font-size: calc((100vw - 20rem)/(80 - 20) * (0.777777777777778 - 0.777777777777778) + 0.777777777777778rem);
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.navmenu__list li a:hover,
.navmenu__list li button:hover,
.navmenu__list li a:focus,
.navmenu__list li button:focus {
  text-decoration: none;
}

.logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-area: logo;
  gap: 10px;
  z-index: 10;
  color: var(--text-c);
}

.logo .subtext {
  word-break: break-word;
}

body {
  height: 100%;
  color: var(--text-c);
  font: calc((100vw - 20rem)/(80 - 20) * (1 - 0.777777777777778) + 0.777777777777778rem) var(--main-font-family);
}

body.scroll-block {
  overflow: hidden;
}

body button {
  font-family: var(--main-font-family);
  color: var(--text-c);
}

.main {
  background: var(--bg);
}

.subtext {
  display: inline-block;
  color: #6d7278;
  font-size: calc((100vw - 20rem)/(80 - 20) * (0.611111111111111 - 0.5) + 0.5rem);
  font-family: Inter;
  text-transform: uppercase;
}

.subtext:before {
  content: '[ ';
}

.subtext:after {
  content: ' ]';
}

.decor img {
  position: absolute;
}

.decor1 img {
  top: 15%;
  left: -5%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.decor2 img {
  top: 13%;
  right: 5%;
  -webkit-transform: rotate(45deg) scale(0.8);
      -ms-transform: rotate(45deg) scale(0.8);
          transform: rotate(45deg) scale(0.8);
}

.decor3 img {
  top: -15%;
  left: -15%;
}

.block {
  padding: 40px 0;
}

.greetings {
  position: relative;
  padding-top: calc(20px + (80 - 20) * ((100vw - 320px) / (1000 - 320)));
}

.greetings__body * {
  position: relative;
  z-index: 1;
}

.greetings__title {
  text-transform: uppercase;
  font-family: Kharkiv;
  font-size: calc((100vw - 20rem)/(80 - 20) * (3.777777777777778 - 1.888888888888889) + 1.888888888888889rem);
  line-height: 1.3;
}

.greetings__title .subtext {
  display: inline-block;
  -webkit-transform: translate(0, -2em);
      -ms-transform: translate(0, -2em);
          transform: translate(0, -2em);
  font-size: calc((100vw - 20rem)/(80 - 20) * (0.888888888888889 - 0.666666666666667) + 0.666666666666667rem);
}

.greetings__title .heading-1 {
  display: inline-block;
}

.about {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 700px;
}

.about__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 90px;
}

.about__advantages {
  position: relative;
}

.about__text {
  font-size: calc((100vw - 20rem)/(80 - 20) * (1 - 1) + 1rem);
  position: relative;
}

.about__text >*:not(:last-child) {
  margin-bottom: 25px;
}

.about__text >* {
  z-index: 1;
}

.about__text .subtext {
  display: block;
  font-size: calc((100vw - 20rem)/(80 - 20) * (0.777777777777778 - 0.777777777777778) + 0.777777777777778rem);
  padding-bottom: 10px;
}

.about__main-text {
  text-transform: uppercase;
  font-family: Kharkiv;
  font-size: calc((100vw - 20rem)/(80 - 20) * (1.666666666666667 - 1.111111111111111) + 1.111111111111111rem);
  line-height: 1.35;
}

.anim-adv {
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.anim-adv.active {
  overflow: auto;
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.anim-adv_to-left {
  -webkit-transform: translate(50%, 0);
      -ms-transform: translate(50%, 0);
          transform: translate(50%, 0);
}

.advantage__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.advantage__data {
  z-index: 1;
  font-family: Kharkiv;
  font-size: calc((100vw - 20rem)/(80 - 20) * (3.111111111111111 - 2.666666666666667) + 2.666666666666667rem);
}

.advantage__about {
  z-index: 1;
  font-size: calc((100vw - 20rem)/(80 - 20) * (0.777777777777778 - 0.777777777777778) + 0.777777777777778rem);
}

.advantage_projects-completed {
  top: 0;
  left: 50%;
}

.advantage_discount {
  top: 25%;
  left: 0;
}

.advantage_price {
  top: 50%;
  right: 5%;
}

.advantage_get-ready {
  top: 75%;
  left: 10%;
}

.advantage_clients {
  top: 100%;
  right: 5%;
}

.demonstration__body {
  position: relative;
  display: grid;
  grid-template: 'room1 des text1 room2' 1fr 'text2 des longroom longroom' 1fr/1fr 1fr 1fr 1fr;
  gap: 8px;
  grid-auto-rows: 1fr;
  padding: 0 2%;
}

.demonstration__body >* {
  z-index: 1;
}

.demonstration #room1 {
  grid-area: room1;
}

.demonstration #designer {
  grid-area: des;
}

.demonstration #text1 {
  grid-area: text1;
}

.demonstration #room2 {
  grid-area: room2;
}

.demonstration #text2 {
  grid-area: text2;
}

.demonstration #longroom {
  grid-area: longroom;
}

.demo-block {
  cursor: pointer;
  border-radius: 20px;
}

.demo-block_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  background: #fff;
  font-family: Kharkiv;
  color: var(--text-c);
  padding: 30px;
  border: 2px solid #202020;
}

.demo-block_text >*:not(:last-child) {
  margin-bottom: 15px;
}

.demo-block_text:hover .demo-block__subtext svg,
.demo-block_text:focus .demo-block__subtext svg {
  -webkit-transform: translate(5px, -5px);
      -ms-transform: translate(5px, -5px);
          transform: translate(5px, -5px);
}

.demo-block_orange {
  background: #b3814e;
  border-color: #b3814e;
  color: #fff;
}

.demo-block_orange path {
  fill: #fff;
}

.demo-block__image {
  overflow: hidden;
  height: 100%;
  padding-bottom: 40%;
  border-radius: 20px;
}

.demo-block__image img {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.demo-block__image:hover img,
.demo-block__image:focus img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.demo-block__text {
  line-height: 1.3;
  font-size: calc((100vw - 20rem)/(80 - 20) * (1.777777777777778 - 1.333333333333333) + 1.333333333333333rem);
}

.demo-block__subtext {
  font-size: calc((100vw - 20rem)/(80 - 20) * (1.333333333333333 - 1) + 1rem);
}

.demo-block__subtext svg {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media (min-width: 426px) {
  .logo .subtext {
    -webkit-transform: translate(0, 8px);
        -ms-transform: translate(0, 8px);
            transform: translate(0, 8px);
  }
}

@media (min-width: 700px) {
  .advantage_projects-completed {
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@media (min-width: 701px) {
  .about__advantages {
    min-height: 500px;
  }

  .about__advantages .advantage {
    position: absolute;
  }
}

@media (min-width: 768px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html ::-webkit-scrollbar {
    width: 0;
  }
}

@media (min-width: 950px) {
  .greetings__title .heading-1 {
    -webkit-transform: translate(8%, 0);
        -ms-transform: translate(8%, 0);
            transform: translate(8%, 0);
  }
}

@media (min-width: 1440px) {
  .container {
    width: 80%;
  }

  .navmenu__list li a,
  .navmenu__list li button {
    font-size: calc((100vw - 20rem)/(80 - 20) * (1.111111111111111 - 1) + 1rem);
  }

  .about__text {
    font-size: calc((100vw - 20rem)/(80 - 20) * (1.111111111111111 - 1) + 1rem);
  }
}

@media (max-width: 1200px) {
  .demonstration__body {
    grid-template: 'room1 des text1 text2' 1fr 'room2 des longroom longroom' 1fr/1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1050px) {
  .logo {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(auto, 1fr));
    gap: 3px;
  }
}

@media (max-width: 1000px) {
  .decor2 {
    display: none;
  }

  .demonstration__body {
    grid-template: 'des room1 room1 room1' 1fr 'des room2 room2 room2' 1fr 'des longroom longroom longroom' 1fr 'text1 text1 text2 text2' 1fr/1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 900px) {
  .decor3 img {
    width: 700px;
    height: 700px;
  }
}

@media (max-width: 768px) {
  .about__body {
    gap: 40px;
  }
}

@media (max-width: 701px) {
  .about__advantages .advantage {
    max-width: 300px;
    word-break: break-all;
  }
}

@media (max-width: 700px) {
  .decor3 img {
    left: -20%;
    width: 600px;
    height: 600px;
  }

  .about__body {
    grid-template-columns: 1fr;
  }

  .about__advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .about__advantages >*:not(:last-child) {
    margin-bottom: 35px;
  }
}

@media (max-width: 650px) {
  .header__body {
    grid-template: 'logo burger' auto 'nav nav' 1fr/1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .navmenu__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 -14px 0 -14px;
  }

  .navmenu__list li a,
  .navmenu__list li button {
    font-size: calc((100vw - 20rem)/(80 - 20) * (1 - 0.833333333333333) + 0.833333333333333rem);
  }

  .demonstration__body {
    grid-template: 'room1 room1 room1 room1' 1fr 'room2 room2 room2 room2' 1fr 'longroom longroom longroom longroom' 1fr 'des des des des' 2fr 'text1 text1 text1 text1' 1fr 'text2 text2 text2 text2' 1fr/1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .modal-window__image {
    width: 90vw;
    padding-bottom: 70%;
  }

  .decor1 img {
    left: -15%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 530px) {
  .decor3 img {
    top: -5%;
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 450px) {
  .decor1 img {
    top: 20%;
    left: -15%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 430px) {
  .decor3 img {
    width: 450px;
    height: 450px;
  }
}

@media (max-width: 426px) {
  .container {
    width: 95%;
  }

  .anim-adv {
    -webkit-transform: translate(-20%, 0);
        -ms-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
  }

  .anim-adv_to-left {
    -webkit-transform: translate(20%, 0);
        -ms-transform: translate(20%, 0);
            transform: translate(20%, 0);
  }

  .demo-block_text {
    padding: 20px;
  }
}

@media (max-width: 380px) {
  .decor3 img {
    width: 370px;
    height: 370px;
  }
}

@media (max-width: 370px) {
  .decor1 img {
    top: 30%;
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 350px) {
  .demonstration__body {
    grid-template: 'des des' 2fr 'text1 text1' 1fr 'room1 room2' 1fr 'longroom longroom' 1fr 'text2 text2' 1fr/1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container {
    width: 90%;
  }
}