/* Insert layout width below.
If this is not done, when using a responsive font, the result will not match the layout.
Please note that specifying a value less than 425 is dangerous for the psyche. */
$layoutWidth = 1440
$mainFontSize = 18
$minFontSize = 14

:root {
  --text-c: #202020
  --main-font-family: Inter
  --bg: #fff
}
